.gradient-background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  width: 100%;
}

.gradient-background2 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    -90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  width: 100%;
}
.profile-img {
  border-radius: 50%;
  height: 100px;
}

.col-lg-6 {
  color: white;
}

.col-lg-6 > .text-body-emphasis {
  color: white !important;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.col-md-6 {
  background-color: white;
}

.bg-body-tertiary {
  background-color: #ebf4f6 !important;
  color: #212529;
}
.navbar-container {
  background-color: #ebf4f6;
}

.row > .col-md-6 .h-100 {
  background-color: #ebf4f6 !important;
}
/* .container-fluid > .navbar-brand {
  background-color: aliceblue;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  color: #212529;
} */
